@media only screen and (max-width: 1200px) {
	
	.container { max-width: ; }	
	/*.logo { max-width: 235px; height: auto; }*/
	.header_search { width: 180px; }
	
	.header_menu { max-width: 680px; }
	.header_menu ul li { margin-right: 8px; font-size: 14px; }
	
	.home_left { float: left; width: 630px; }
	.home_box_cell {padding: 40px 30px;}
	.home_box { 
	}
	.home_box img,
	.home_box iframe 
	 { 
       width: 100%;
       height: auto; 
	 }	
	.home_bottom_box { width: 260px; margin-right: 40px; }
	.home_bottom_box_last { width: 360px; margin-right: 0; }
	.single_left { width: 630px; }
	.archive_title { margin-bottom: 20px; font-size: 23px; }
	.blog_box .left { width: 250px; }
	.blog_box .right { width: 670px; }
	.blog_box .right img,
	.blog_box .right iframe { width: 670px; height: 335px; }
	
	#sidebar { width: 300px; }
	
	.footer_box_col { width: 296px; margin-right: 36px; }
	.footer_box_col_last { margin-right: 0; }
	
	.single_inside_content img { max-width: 100%; height: inherit; }
	.single_inside_content iframe { width: 670px; height: 375px;}
	
	.home_box_media_buttons { margin-top: -50px;}
	
}
/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	.container { max-width: ; }
	.slicknav_menu { display: block; position: relative; z-index: 99999; }
	/*#header { position: absolute; }*/
	
	.header_social { float: left; }
	.header_menu { display: none; }
	/*#header { top: 55px; }
	ul.slicknav_nav { position: relative; z-index: 99999; }*/
	.slicknav_menu { /*height: 45px;*/ }
	#header { position: static;}
/*	#header { text-align: center; }	
	#header { position: absolute; top: 55px; width: 100%;  }*/
/*	.header_spacing { display: none; }*/
/*	.logo { float: none; margin: 0; }*/
	.full_logo_cont { float: none; text-align: center; max-width: 748px; }
	.header_spacing { display: none; }
	.home_left { width: 510px; }
	.home_box { width: 100%; }
	.home_box img,
	.home_box iframe { width: 100%; height: auto; }		
	.home_bottom_box { width: 200px; margin-right: 20px; }
	.home_bottom_box_last { width: 308px; margin-right: 0; }	
	ul.home_bottom_blog_list li h4 { font-size: 16px; }
		
	.single_left { width: 520px; }
	.single_full { width: auto; }
	.blog_box .left { width: 220px; }
	.blog_box .right { width: 498px; }
	.blog_box .right img,
	.blog_box .right iframe { width: 498px; height: 249px; }	
	
	#sidebar { width: 200px; }
	.t1_search_cont input[type=text] { width: 100px; }
	.t1_search_cont input[type=submit] {  width: 70px; }		
	
	.footer_box_col { width: 229px; margin-right: 20px; }
	
	.single_inside_content img { max-width: 100%; height: inherit; }
	.single_inside_content iframe { width: 740px; height: 420px;}
	.home_box_cell p{display:none;}
	.btn {margin: 0px !important;}
	.home_box {width: 47%; margin: 10px;}
	#hs_header_info a {position: inherit;}
	#hs_header_info {text-align: center;}
	.home_box_cell {padding: 60px 60px;}
	.home_box h3 {position: inherit;}
}
/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) { 
	.container { max-width: ; }
	
	#header { position: static; width: auto; }
	.slicknav_menu { display: block; position: relative; z-index: 99999; }
	.slicknav_menu { /*height: 45px;*/ }
/*	#header { text-align: center; }	
	#header { position: absolute; top: 55px; width: 100%;  }*/
	.header_spacing { display: none; }
/*	#header .container {  }
	.logo { float: none; margin: 0; }*/
	.header_menu { display: none; }
	.header_social { float: none; padding-bottom: 10px; text-align: center; padding-top: 10px; }
	.header_menu ul li { margin-right: 20px; }
	.header_social img { margin: 0 1px;}
	.header_search { float: none; margin: 15px auto; }
	.header_bottom { padding-bottom: 0; }
	.logo_cont { float: none; text-align: center; max-width: 300px; }
	.full_logo_cont { float: none; width: 280px; margin-left: auto; margin-right: auto; }
	.header_right_text { float: none; width: auto; width: 280px; margin-left: auto; margin-right: auto; }
	
	
	.home_left { width: auto; float: none; }
	
	.home_box { width: 100%;}
	.home_box img,
	.home_box iframe { 
	width: 100%; height: auto; 
	}		
	.home_featured { font-size: 18px; }
	.home_bottom_box { width: auto; float: none; margin: 0 0 25px; }
	.home_bottom_box_last { width: auto; margin-right: 0; }	
	ul.home_bottom_blog_list li h4 { font-size: 16px; }	
	
	.single_left { float: none; width: auto; margin-bottom: 25px; }
	.single_full { width: auto; }
	
	#commentform textarea { max-width: 280px; }		
	#sidebar { float: none; width: auto; }	
	.blog_box .left { float: none; width: auto; margin-bottom: 15px; }
	.blog_box .right { float: none; width: 300px; }
	.blog_box .right img,
	.blog_box .right iframe { width: 300px; height: 150px; }	
	.blog_box .right p { padding-left: 0px; }
	.t1_search_cont input[type=text] { width: 210px; }
	.t1_search_cont input[type=submit] {  width: 80px; }		
	
	.footer_box_col { float: none; width: auto; padding: 10px 0 10px; margin: 0; }
	.footer_copyright .left { float: none; margin-bottom: 15px; }
	.footer_copyright .right { text-align: center; float: none; }	
	
	.single_inside_content img { width: 300px; height: 169p }
	.single_inside_content iframe { width: 300px; height: 169px; }
	
	h1.single_title {
  font-size:18px;
  font-weight:normal;
  margin:0 0 20px;
  
}
.home_box_cell p{display:none;}
.btn {margin: 0px !important;}
.home_box {width: 100%;}
.home_box_cell {padding: 50px 10px;}

#hs_header_info a {position: inherit;}
	#hs_header_info {text-align: center;}
	.home_box h3 {position: inherit;}
	
	.home_box_media_buttons { margin-top: -54px;}
	
	.modal.in .modal-dialog { width: 100% !important;}
	.modal-content img{width:100%; height:auto;}
	
}

/**********===========pagination========**********/
.pagination {
clear:both;
padding:20px 0;
position:relative;
font-size:11px;
line-height:13px;
}
 
.pagination span, .pagination a {
display:block;
float:left;
margin: 2px 2px 2px 0;
padding:6px 9px 5px 9px;
text-decoration:none;
width:auto;
color:#fff;
background: #555;
}
 
.pagination a:hover{
color:#fff;
background: #3279BB;
}
 
.pagination .current{
padding:6px 9px 5px 9px;
background: #3279BB;
color:#fff;
}

/*********======== Pagination End ========*********/